body {
    color: white;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: white;
    font-weight: bold;
}

/*This is the class that hids stuff in index.html*/
.hidden {
    display: none;
}

.highlight {
    background-color: #6e6e6e;
}


/*Popup setitngs*/
.closeButtonBR {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}

.closeButtonTR {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.closeButtonBL {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 100;
}

.closeButtonTL {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
}

#caption {
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: none;
    font-style: none;
    text-shadow: #000 2px 2px;
    text-align: center;

    position: fixed;
    z-index: 99;
}

.top {
    top: 10px;
}

.bottom {
    bottom: 10px;
}